@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.aboutlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 0px;
}

.myButtonone {
  font-family: "Jua", sans-serif;

  background-color: rgb(24, 194, 255);
  color: white;
  width: 40vw;
  height: 40vh;
  max-width: 180px;
  max-height: 180px;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block;
}
.myButtontwo {
  font-family: "Jua", sans-serif;
  background-color: rgb(24, 194, 255);
  color: white;
  width: 40vw;
  height: 40vh;
  max-width: 180px;
  max-height: 180px;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.divbtnone {
  text-align: center;
  margin-top: 50px;
}

.divbtntwo {
  text-align: center;
}

.settingimg {
  background-color: transparent;
  width: 50px;
  height: 50px;

  border: none;
  margin-top: 8px;
  margin-right: auto;
  margin-left: 1px;
}

.ishslogo {
  background-color: transparent;
  width: 55px;
  height: 55px;
  margin-top: 8px;
  border: none;
  margin-left: auto;
  margin-right: 6px;
}

.titleimage {
  width: 45vh;
  margin-bottom: 25px;
}

.titleWraper {
  position: relative;
  width: 100%;
  height: 100%;
}

.line {
  display: flex;
}

.decoimgbtn {
  width: 50px;
  height: 50px;
}
