@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/* body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
} */

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  font-family: "Jua", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.scroll::-webkit-scrollbar {
  display: none;
}
.prettytext {
  font-size: 40px;
  font-weight: 400;
  padding: 0;
}
.btnhad {
  font-size: 25px;
  font-weight: 100;
  padding-bottom: 10px;
  margin-top: 0px;
}

.decoli {
  font-size: 20px;
}

.clred {
  color: red;
}

.clyellow {
  color: rgb(220, 220, 56);
}

.clgreen {
  color: green;
}
.psize {
  font-size: 15px;
}

.decohthree {
  font-size: 16px;
  font-weight: 70;
}

.decohr {
  height: 2px;
  background-color: rgb(92, 92, 92);
}

.decodiv {
  margin-left: 10px;
  margin-right: 10px;
}

.nutri {
  font-size: 18px;

  list-style-type: circle;
}
.pmargin {
  font-size: 15px;
  margin-top: 0;
  padding-top: 0;
}
.message {
  font-size: 15px;
  list-style-type: circle;
}
