.container {
  width: 80vw;
  height: 80vh;
  z-index: 999;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 1px solid black;
}

.closeButton {
  position: absolute;
  display: inline;
  right: 10px;
  top: 10px;
}
