@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.pretty {
  font-family: "Jua", sans-serif;
  background-color: rgba(92, 206, 251, 0.824);
  font-weight: 400;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.decoul {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 50px;
  width: 60%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
  border-radius: 15px;
  margin-top: 100px;
}

.decoli {
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #efefef;
}
.decolisad {
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
}
